@font-face {
    font-family: "Gilory";
    src: local("Gilory"), url("../fonts/Gilroy-Light.otf") format("truetype");
  }

@font-face {
    font-family: "Futur";
    src: local("Futur"), url("../fonts/Futura\ Heavy\ font.ttf") format("truetype");
  }  

@font-face {
    font-family: "Muli";
    src: local("Muli"), url("../fonts/muli.regular.ttf") format("truetype");
  }    

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


html, body {
    height: 100%;
}

#container_ {
    min-height: 100%;
    margin-bottom: 250px;
    position: relative;
}

#main_ {
    overflow: none;
    position: relative;
    top: 0;
    border-radius: 15px;
    background-color: white;
    margin-bottom: 55px;
}

#sep1 {
    position: relative;
    background-color: #F6F6F6;
    top: 0;
    height: 60px;
}

.favIcon {
    position: absolute;
    top: 8%;
    right:5.5%;        
}

.elementInfo {
    display: flex;
}

.elementName { 
    overflow: none;
    word-wrap: break-word;
    position: relative;
    text-align: left;
    left: 9%;
    top: 40px;
    width: 30%;
    padding: 0;
}

.elementName h1 {   
    font-size:54px;
    text-align: left ;
    font-weight: bold;
    font-family: "Gilory", Sans Serif;
}

.elementDesc {
    overflow: none;
    position: relative;
    word-wrap: break-word;
    left: 12%;
    top: 60px;
    width: 23%;
    box-sizing: border-box;
    padding: 0;
}

.elementDesc h1 {
    font-size:28px;
    text-align: left ;
    font-weight: lighter;
    font-family: 'Playfair Display', Sans Serif;
}

.elementInfoR {
    position: relative;
    left:57%;
    top: -380px;
    background-color: #E8EBF2;
    width: 570px;
    height: 590px;
    border-radius: 15px;
}

.elementPrice {
    position: relative;
    left: 30%;
    top: 106%;
    font-size: 45px;
    font-family: 'Futur';
    color: #282C40;
}

.rating {
    position: absolute;
    left: 12%;
    top: 65%;
}

.colorChoice {
    position: absolute;
    left: 12%;
    top: 68%;
    box-sizing: border-box;
    padding-left: 9px;
    margin-top: 67px;
    display: flex;
}

.colorChoice h1 {
    font-family: 'Futur';
    font-weight: bolder;
    font-size: 25px;
    margin-right: 40px;
}

.colors {
    display: flex;
}

.color {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    cursor: pointer;
}

#color1 {
    background-color: grey;
}

#color2 {
    background-color: black;
}


#btn {
    position: relative;
    left: 38%;
    top: -70px;
    display: inline-block;
    border: none;
    border-radius: 10px;
    padding: 20px 170px;
    background-color: #4D79D7;
    font-family: 'Muli';
    font-size: 30px;
    margin-bottom: 20px;
    color: white;
    cursor: pointer;
}


#btn:active {
    opacity: 0.9;
}

#sep2 {
        position: relative;
        background-color: #F6F6F6;
        top: 200px;
        height: 60px;
        margin-bottom: -50px;
        margin-top: -280px;
}