@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


.upFooter_ {
    display: flex;
    position: relative;
    left: 11%;
    width: 87.3vw;
 }

.info_ {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: none;
}

#all {
    margin-right: 13.5vw;
}

.links_ {
    margin-bottom: 25px;
}

#link_ {
    margin-top: 37px;
}

.info_ a {
    color: #8E8E93;
    font-family: 'Muli';
    text-decoration: none;
}

.headTitle_ {
    margin-bottom: 20px;
    font-family: 'Playfair Display', Sans Serif;
    font-size: 25px;
}

#input_ {
    position: absolute;
    padding: 15px 60px 15px 10px;
    bottom: 40px;
    border-radius: 8px;
    border: 2px solid #E5E5EA;
}

#input_::placeholder {
    font-size: 14px;
    color: #C7C7CC;
    opacity: 1;
}

.sendbtn_ {
    position: absolute;
    padding: 10px 20px;
    border: none;
    margin-left: 200px;
    border-radius: 12px;
    margin-top: 45px;
    background-color: #4D79D7;
    color: white;
    text-decoration: none;
    bottom: 40px;

}

.sendbtn_:hover {
    cursor: pointer;
}

.downFooter_ {
    position: relative;
    display: flex;
    right: 0;
    left: 0;
    background-color: #EFEFF4;
}

.copyright_ {
    position: relative;
    left: 13%;
    font-size: 14px;
    font-family: 'Muli';
    color: #8E8E93;
}

.social_ {
    display: flex;
    position: absolute;
    right: 10%;
    top: 15px;
}

.img_ a {
    margin-right: 25px;
    color: #1B2437;
}